%form{:action => "/robots", :method => "post"}
  %p Name:
  %input{name: "robot[name]", type: "text"}
  %br

  %p City:
  %input{name: "robot[city]", type: "text"}
  %br

  %p State:
  %input{name: "robot[state]", type: "text"}
  %br

  %p Birthdate:
  %input{name: "robot[birthdate]", type: "text"}
  %br

  %p Department:
  %input{name: "robot[department]", type: "text"}
  %br

  %p Date Hired:
  %input{name: "robot[date_hired]", type: "text"}
  -2.times do
    %br

  %input{type: "submit", value: "Create"}
