header {
  height: 84px;
  margin: 0 auto;
  border: 2px solid white;
}

.header-links {
  border: 2px dotted white;
  line-height: 80px;
  display: inline-block;
  width: 86%;
  position: relative;
  margin: 0 auto;

}

header a {
  /*display: inline-block;*/
  /*line-height: 80px;*/
  vertical-align: middle;
  padding: 0 25px;
}

body {
  margin: 0 auto;
  max-width: 50em;
  background: #262216;
}


h1 {
  font-family: 'VT323', serif;
  font-size: 5em;
  color: #49412c;
}

a {
  text-decoration: none;
  font-family: 'VT323', serif;
  font-size: 2em;
  color: #97743a;

}

a:hover {
  color: #49412c;
}
